.hero-content {
	width: 100%;
	height: 100%;
}

.hero-text {
	position: relative;
	z-index: 100;
	top: 30%;
	padding: 0 2% 0 2%;
}

.hero-background-overlay {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 30%;
}

.hero-image {
	width: 100%;
	height: 100%;
	background-size: cover;
}
